In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series的排序

In [5]:
s1 = Series(np.random.randn(10))

In [6]:
s1

0    1.914905
1   -0.308312
2    0.361052
3   -0.267685
4    1.654360
5   -0.470714
6   -0.560186
7   -2.182256
8    0.376577
9    2.551273
dtype: float64

In [7]:
s1.values

array([ 1.91490495, -0.30831178,  0.36105231, -0.26768526,  1.65436049,
       -0.47071401, -0.56018611, -2.18225622,  0.37657734,  2.55127347])

In [8]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [14]:
s2 = s1.sort_values() #默认从小到大 升序排列
s2

7   -2.182256
6   -0.560186
5   -0.470714
1   -0.308312
3   -0.267685
2    0.361052
8    0.376577
4    1.654360
0    1.914905
9    2.551273
dtype: float64

In [15]:
s2 = s1.sort_values(ascending=False)

In [16]:
s2

9    2.551273
0    1.914905
4    1.654360
8    0.376577
2    0.361052
3   -0.267685
1   -0.308312
5   -0.470714
6   -0.560186
7   -2.182256
dtype: float64

In [17]:
s2.sort_index() #按照index排序

0    1.914905
1   -0.308312
2    0.361052
3   -0.267685
4    1.654360
5   -0.470714
6   -0.560186
7   -2.182256
8    0.376577
9    2.551273
dtype: float64

# Dataframe的排序

In [18]:
df1 = DataFrame(np.random.randn(40).reshape(8,5), columns=['A','B','C','D','E'])

In [19]:
df1

          A         B         C         D         E
0  0.253866 -1.263903 -0.672025  0.301202 -0.264834
1 -0.132220  0.716558 -0.446238 -0.347147 -0.243404
2 -0.279039 -0.959233  2.299316 -0.499827  1.117933
3 -0.394118  0.769572  0.476706  0.304949 -0.768766
4 -0.610244  1.745882 -0.301149  0.722505  0.863663
5 -0.113869 -1.014323  0.255245  0.660987  1.784156
6 -0.776892 -2.981048 -1.798412  0.787676 -0.466942
7  1.726506 -1.443118  0.008179  0.413218 -1.039756

In [20]:
df1['A'].sort_values()

6   -0.776892
4   -0.610244
3   -0.394118
2   -0.279039
1   -0.132220
5   -0.113869
0    0.253866
7    1.726506
Name: A, dtype: float64

In [21]:
df2 = df1.sort_values('A')

In [22]:
df2

          A         B         C         D         E
6 -0.776892 -2.981048 -1.798412  0.787676 -0.466942
4 -0.610244  1.745882 -0.301149  0.722505  0.863663
3 -0.394118  0.769572  0.476706  0.304949 -0.768766
2 -0.279039 -0.959233  2.299316 -0.499827  1.117933
1 -0.132220  0.716558 -0.446238 -0.347147 -0.243404
5 -0.113869 -1.014323  0.255245  0.660987  1.784156
0  0.253866 -1.263903 -0.672025  0.301202 -0.264834
7  1.726506 -1.443118  0.008179  0.413218 -1.039756

In [23]:
df2.sort_index()

          A         B         C         D         E
0  0.253866 -1.263903 -0.672025  0.301202 -0.264834
1 -0.132220  0.716558 -0.446238 -0.347147 -0.243404
2 -0.279039 -0.959233  2.299316 -0.499827  1.117933
3 -0.394118  0.769572  0.476706  0.304949 -0.768766
4 -0.610244  1.745882 -0.301149  0.722505  0.863663
5 -0.113869 -1.014323  0.255245  0.660987  1.784156
6 -0.776892 -2.981048 -1.798412  0.787676 -0.466942
7  1.726506 -1.443118  0.008179  0.413218 -1.039756

In [24]:
df1

          A         B         C         D         E
0  0.253866 -1.263903 -0.672025  0.301202 -0.264834
1 -0.132220  0.716558 -0.446238 -0.347147 -0.243404
2 -0.279039 -0.959233  2.299316 -0.499827  1.117933
3 -0.394118  0.769572  0.476706  0.304949 -0.768766
4 -0.610244  1.745882 -0.301149  0.722505  0.863663
5 -0.113869 -1.014323  0.255245  0.660987  1.784156
6 -0.776892 -2.981048 -1.798412  0.787676 -0.466942
7  1.726506 -1.443118  0.008179  0.413218 -1.039756

In [ ]:
!ls

In [25]:
df_results = pd.read_csv('imdb.csv')

In [26]:
df_resu

NameError: name 'df_resu' is not defined