In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

homework

In [19]:
csv_input = '../homework/movie_metadata.csv'

In [20]:
pd.read_csv(csv_input)[["movie_title","director_name","imdb_score"]].sort_values("imdb_score",ascending=False).to_csv("imdb.csv")

In [22]:
df1=DataFrame(np.arange(9).reshape(3,3),index=["BJ","SH","GZ"])

In [23]:
df1

    0  1  2
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

In [24]:
df1.index

Index(['BJ', 'SH', 'GZ'], dtype='object')

直接更名

In [25]:
df1.index = Series(['bj','sh','gz'])

In [9]:
df1

    A  B  C
bj  0  1  2
sh  3  4  5
gz  6  7  8

In [26]:
df1.index

Index(['bj', 'sh', 'gz'], dtype='object')

map方法更名

In [35]:
df1.index = df1.index.map(str.upper) #转换为大写

In [36]:
df1

    0  1  2
BJ  0  1  2
SH  3  4  5
GZ  6  7  8

rename方法更名

In [39]:
df1.rename(index=str.lower)

    0  1  2
bj  0  1  2
sh  3  4  5
gz  6  7  8

传入字典

In [44]:
df1.rename(index={'BJ': 'beijing'}, columns={"A":'a'})

         0  1  2
beijing  0  1  2
SH       3  4  5
GZ       6  7  8

In [45]:
list1 = [1,2,3,4]
list2 = ['1','2','3','4']

列表解析

In [46]:
[str(x) for x in list1]

['1', '2', '3', '4']

In [47]:
list(map(str, list1)) # map(第一个参数是函数名，第二个参数是对象)

['1', '2', '3', '4']

In [ ]:
df1

自己的map

In [48]:
def test_map(x):
    return x + '_ABC'

In [49]:
df1.index.map(test_map)

Index(['BJ_ABC', 'SH_ABC', 'GZ_ABC'], dtype='object')

In [50]:
df1.rename(index=test_map)

        0  1  2
BJ_ABC  0  1  2
SH_ABC  3  4  5
GZ_ABC  6  7  8