In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from datetime import datetime
t1 = datetime(2009,10,20) # 年月日

In [3]:
t1

datetime.datetime(2009, 10, 20, 0, 0)

In [4]:
date_list = [
    datetime(2016,9,1),
    datetime(2016,9,10),
    datetime(2017,9,1),
    datetime(2017,9,20),
    datetime(2017,10,1)
]

In [5]:
date_list

[datetime.datetime(2016, 9, 1, 0, 0),
 datetime.datetime(2016, 9, 10, 0, 0),
 datetime.datetime(2017, 9, 1, 0, 0),
 datetime.datetime(2017, 9, 20, 0, 0),
 datetime.datetime(2017, 10, 1, 0, 0)]

In [6]:
s1 = Series(np.random.rand(5), index=date_list)

In [7]:
s1

2016-09-01    0.193731
2016-09-10    0.986194
2017-09-01    0.368921
2017-09-20    0.518027
2017-10-01    0.573420
dtype: float64

In [11]:
s1.values

array([0.19373132, 0.9861944 , 0.36892081, 0.51802738, 0.57341992])

In [12]:
s1.index

DatetimeIndex(['2016-09-01', '2016-09-10', '2017-09-01', '2017-09-20',
               '2017-10-01'],
              dtype='datetime64[ns]', freq=None)

三种方式 取value值

In [14]:
s1[1]

0.986194400928518

In [15]:
s1[datetime(2016,9,10)]

0.986194400928518

In [16]:
s1['2016-9-10']

0.986194400928518

In [17]:
s1['20160910']

0.986194400928518

In [18]:
s1['2017-09']

2017-09-01    0.368921
2017-09-20    0.518027
dtype: float64

In [20]:
s1['2016']

2016-09-01    0.193731
2016-09-10    0.986194
dtype: float64

In [21]:
s1['2017']

2017-09-01    0.368921
2017-09-20    0.518027
2017-10-01    0.573420
dtype: float64

In [22]:
s1

2016-09-01    0.193731
2016-09-10    0.986194
2017-09-01    0.368921
2017-09-20    0.518027
2017-10-01    0.573420
dtype: float64

In [23]:
date_list_new = pd.date_range('2016-01-01', periods=100, freq='5H') # start emd/period   参数看文档

In [24]:
s2 = Series(np.random.rand(100), index=date_list_new)

In [25]:
s2

2016-01-01 00:00:00    0.989097
2016-01-01 05:00:00    0.497549
2016-01-01 10:00:00    0.216765
2016-01-01 15:00:00    0.556812
2016-01-01 20:00:00    0.617875
                         ...
2016-01-20 19:00:00    0.049026
2016-01-21 00:00:00    0.426664
2016-01-21 05:00:00    0.879194
2016-01-21 10:00:00    0.878258
2016-01-21 15:00:00    0.634297
Freq: 5H, Length: 100, dtype: float64