In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
score_list = np.random.randint(25, 100, size=20)

In [3]:
score_list

array([45, 26, 72, 90, 74, 87, 82, 26, 31, 36, 78, 93, 57, 67, 33, 33, 48,
       76, 46, 41])

In [4]:
bins = [0,59,70,80,100]

In [5]:
score_cat = pd.cut(score_list, bins)
score_cat

[(0, 59], (0, 59], (70, 80], (80, 100], (70, 80], ..., (0, 59], (0, 59], (70, 80], (0, 59], (0, 59]]
Length: 20
Categories (4, interval[int64]): [(0, 59] < (59, 70] < (70, 80] < (80, 100]]

In [6]:
pd.value_counts(score_cat)

(0, 59]      11
(70, 80]      4
(80, 100]     4
(59, 70]      1
dtype: int64

In [13]:
df = DataFrame()

In [14]:
df['score'] = score_list

生成随机字符串

In [15]:
df['student'] = [pd.util.testing.rands(3) for i in range(20)]

In [19]:
df['Categories'] = pd.cut(df['score'],bins)
df

    score student Categories
0      45     ciD    (0, 59]
1      26     nEA    (0, 59]
2      72     fpO   (70, 80]
3      90     wPy  (80, 100]
4      74     HyH   (70, 80]
5      87     6CC  (80, 100]
6      82     H1m  (80, 100]
7      26     903    (0, 59]
8      31     IDR    (0, 59]
9      36     zvl    (0, 59]
10     78     QC0   (70, 80]
11     93     FAa  (80, 100]
12     57     gsN    (0, 59]
13     67     saM   (59, 70]
14     33     noX    (0, 59]
15     33     Lbd    (0, 59]
16     48     uG2    (0, 59]
17     76     Uyd   (70, 80]
18     46     9Ku    (0, 59]
19     41     L73    (0, 59]

label 把Categories 名字具体化

In [20]:
df['Categories'] = pd.cut(df['score'],bins, labels=['Low','OK','Good','Great'])

In [21]:
df

    score student Categories
0      45     ciD        Low
1      26     nEA        Low
2      72     fpO       Good
3      90     wPy      Great
4      74     HyH       Good
5      87     6CC      Great
6      82     H1m      Great
7      26     903        Low
8      31     IDR        Low
9      36     zvl        Low
10     78     QC0       Good
11     93     FAa      Great
12     57     gsN        Low
13     67     saM         OK
14     33     noX        Low
15     33     Lbd        Low
16     48     uG2        Low
17     76     Uyd       Good
18     46     9Ku        Low
19     41     L73        Low