In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
import webbrowser

In [ ]:
link = 'http://pandas.pydata.org/pandas-docs/version/0.20/io.html'
webbrowser.open(link)

In [ ]:
df1 = pd.read_clipboard()

In [ ]:
df1

In [38]:
type(df1)

pandas.core.frame.DataFrame

In [39]:
df1.columns

Index(['Format', 'Type', 'Data', 'Description', 'Reader', 'Writer'], dtype='object')

In [40]:
# df1.Ratings 没有这个方法了

In [41]:
df_new = DataFrame(df1,columns=['Description', 'Reader'])

In [42]:
df_new

      Description        Reader
0          to_csv          None
1         to_json          None
2         to_html          None
3  read_clipboard  to_clipboard
4      read_excel      to_excel
5        read_hdf        to_hdf
6    read_feather    to_feather
7      to_msgpack          None
8        to_stata          None
9            None          None

In [43]:
df1['Description']

0            to_csv
1           to_json
2           to_html
3    read_clipboard
4        read_excel
5          read_hdf
6      read_feather
7        to_msgpack
8          to_stata
9              None
Name: Description, dtype: object

In [44]:
df_new2 = DataFrame(df1,columns=['Description', 'Reader','hehe']) #没有hehe数据
df_new2

      Description        Reader  hehe
0          to_csv          None   NaN
1         to_json          None   NaN
2         to_html          None   NaN
3  read_clipboard  to_clipboard   NaN
4      read_excel      to_excel   NaN
5        read_hdf        to_hdf   NaN
6    read_feather    to_feather   NaN
7      to_msgpack          None   NaN
8        to_stata          None   NaN
9            None          None   NaN

In [45]:
df_new2['hehe'] = np.arange(0,10)
df_new2

      Description        Reader  hehe
0          to_csv          None     0
1         to_json          None     1
2         to_html          None     2
3  read_clipboard  to_clipboard     3
4      read_excel      to_excel     4
5        read_hdf        to_hdf     5
6    read_feather    to_feather     6
7      to_msgpack          None     7
8        to_stata          None     8
9            None          None     9

In [46]:
df_new2['hehe'] = pd.Series(np.arange(10,20))
df_new2

      Description        Reader  hehe
0          to_csv          None    10
1         to_json          None    11
2         to_html          None    12
3  read_clipboard  to_clipboard    13
4      read_excel      to_excel    14
5        read_hdf        to_hdf    15
6    read_feather    to_feather    16
7      to_msgpack          None    17
8        to_stata          None    18
9            None          None    19

In [47]:
df_new2['hehe'] = pd.Series([100,200],index=[1,2])
df_new2

      Description        Reader   hehe
0          to_csv          None    NaN
1         to_json          None  100.0
2         to_html          None  200.0
3  read_clipboard  to_clipboard    NaN
4      read_excel      to_excel    NaN
5        read_hdf        to_hdf    NaN
6    read_feather    to_feather    NaN
7      to_msgpack          None    NaN
8        to_stata          None    NaN
9            None          None    NaN

In [48]:
df1.to_clipboard()

In [49]:
df1

   Format     Type          Data     Description        Reader  Writer
0    text      CSV      read_csv          to_csv          None     NaN
1    text     JSON     read_json         to_json          None     NaN
2    text     HTML     read_html         to_html          None     NaN
3    text    Local     clipboard  read_clipboard  to_clipboard     NaN
4  binary       MS         Excel      read_excel      to_excel     NaN
5  binary     HDF5        Format        read_hdf        to_hdf     NaN
6  binary  Feather        Format    read_feather    to_feather     NaN
7  binary  Msgpack  read_msgpack      to_msgpack          None     NaN
8  binary    Stata    read_stata        to_stata          None     NaN
9  binary      SAS      read_sas            None          None     NaN

In [ ]:
	Format Type	Data Description	Reader	Writer
0	text	CSV	read_csv	to_csv
1	text	JSON	read_json	to_json
2	text	HTML	read_html	to_html
3	text	Local clipboard	read_clipboard	to_clipboard
4	binary	MS Excel	read_excel	to_excel
5	binary	HDF5 Format	read_hdf	to_hdf
6	binary	Feather Format	read_feather	to_feather
7	binary	Msgpack	read_msgpack	to_msgpack
8	binary	Stata	read_stata	to_stata
9	binary	SAS	read_sas	
10	binary	Python Pickle Format	read_pickle	to_pickle
11	SQL	SQL	read_sql	to_sql
12	SQL	Google Big Query	read_gbq	to_gbq   

#这是粘贴板的内容

In [ ]:
df1.to_csv("df1.csv",index=False)  # dfl.csv 是文件名字（名字只能保存一次）  当前目录出现了这个文件  index=False,就不会有 默认加的0 1 2 3这一列

In [ ]:
!ls

In [ ]:
!more df1.csv        # 查看文件内容

In [ ]:
df2 = pd.read_csv('df1.csv')

In [ ]:
df2

In [ ]:
df1

In [ ]:
df1.to_json()

In [ ]:
pd.read_json(df1.to_json())

In [ ]:
df1.to_html('df1.html')

In [ ]:
!ls

In [ ]:
df1.to_excel('df1.xlsx')

In [ ]:
!ls

In [ ]:
df1