In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# series reindex

传入两个参数，list值数组,list下标数组

In [2]:
s1 = pd.Series([1,2,3,4], index=['A','B','C','D'])  # pd可以省略

In [3]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
s1.values

array([1, 2, 3, 4], dtype=int64)

In [5]:
s1.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
idx_1 = ['A','B','C','D','E']

In [7]:
s10 = pd.Series(s1,index=idx_1)

In [8]:
s10  # E 没有value

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [9]:
pd.isnull(s10)

A    False
B    False
C    False
D    False
E     True
dtype: bool

In [10]:
pd.notnull(s10)

A     True
B     True
C     True
D     True
E    False
dtype: bool

In [11]:
s10.name = 'demo'

In [12]:
s10

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
Name: demo, dtype: float64

In [13]:
s10.index.name = 'demoindex'

In [14]:
s10

demoindex
A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
Name: demo, dtype: float64

In [15]:
s1[s1>2]

C    3
D    4
dtype: int64

In [16]:
s1.to_dict()

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

转成字典传入参数

In [17]:
s11 = pd.Series(s1.to_dict())

In [18]:
s11

A    1
B    2
C    3
D    4
dtype: int64

reindex

In [20]:
s1.reindex(index=['A','B','C','D','E'])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [21]:
s1.reindex(index=['A','B','C','D','E'], fill_value=10) #填充数值

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [22]:
s2 = Series(['A','B','C'], index=[1,5,10])

In [23]:
s2

1     A
5     B
10    C
dtype: object

In [24]:
s2.reindex(index=range(15),fill_value=10)

0     10
1      A
2     10
3     10
4     10
5      B
6     10
7     10
8     10
9     10
10     C
11    10
12    10
13    10
14    10
dtype: object

In [25]:
s2.reindex(index=range(15),method='ffill') # forward fill

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

传入array

In [26]:
s3 = pd.Series(np.arange(10))

In [27]:
s3

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

传入字典

In [28]:
s4 = pd.Series({"a":1,"b":2,"c":3})

In [29]:
s4

a    1
b    2
c    3
dtype: int64

In [30]:
s4.values

array([1, 2, 3], dtype=int64)

In [31]:
s4["a"]

1

# reindex dataframe

In [33]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]))
df1

          0         1         2         3         4
0  0.381357  0.253891  0.719330  0.601905  0.797868
1  0.899227  0.738369  0.296982  0.527350  0.921216
2  0.681191  0.793352  0.294061  0.017884  0.371621
3  0.878442  0.327288  0.579243  0.109327  0.366934
4  0.960478  0.554544  0.812637  0.669118  0.569680

In [34]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]), index=['A','B','D','E','F'], columns=['c1','c2','c3','c4','c5'])

In [35]:
df1

         c1        c2        c3        c4        c5
A  0.646866  0.995820  0.284356  0.718701  0.072615
B  0.743835  0.041040  0.360514  0.278694  0.203659
D  0.476513  0.750595  0.633764  0.336483  0.628976
E  0.398105  0.157137  0.969087  0.251197  0.189585
F  0.456268  0.237794  0.755713  0.993375  0.632530

ctrl + Tab 可以显示参数

In [36]:
df1.reindex(index=['A','B','C','D','E','F'])

         c1        c2        c3        c4        c5
A  0.646866  0.995820  0.284356  0.718701  0.072615
B  0.743835  0.041040  0.360514  0.278694  0.203659
C       NaN       NaN       NaN       NaN       NaN
D  0.476513  0.750595  0.633764  0.336483  0.628976
E  0.398105  0.157137  0.969087  0.251197  0.189585
F  0.456268  0.237794  0.755713  0.993375  0.632530

In [37]:
df1.reindex(columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.646866  0.995820  0.284356  0.718701  0.072615 NaN
B  0.743835  0.041040  0.360514  0.278694  0.203659 NaN
D  0.476513  0.750595  0.633764  0.336483  0.628976 NaN
E  0.398105  0.157137  0.969087  0.251197  0.189585 NaN
F  0.456268  0.237794  0.755713  0.993375  0.632530 NaN

In [38]:
df1.reindex(index=['A','B','C','D','E','F'],columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.646866  0.995820  0.284356  0.718701  0.072615 NaN
B  0.743835  0.041040  0.360514  0.278694  0.203659 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D  0.476513  0.750595  0.633764  0.336483  0.628976 NaN
E  0.398105  0.157137  0.969087  0.251197  0.189585 NaN
F  0.456268  0.237794  0.755713  0.993375  0.632530 NaN

In [39]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [42]:
s1.reindex(index=['A','C'])  # 其他的就删掉了

A    1
C    3
dtype: int64

In [43]:
df1

         c1        c2        c3        c4        c5
A  0.646866  0.995820  0.284356  0.718701  0.072615
B  0.743835  0.041040  0.360514  0.278694  0.203659
D  0.476513  0.750595  0.633764  0.336483  0.628976
E  0.398105  0.157137  0.969087  0.251197  0.189585
F  0.456268  0.237794  0.755713  0.993375  0.632530

In [44]:
df1.reindex(index=['A','B'])

         c1       c2        c3        c4        c5
A  0.646866  0.99582  0.284356  0.718701  0.072615
B  0.743835  0.04104  0.360514  0.278694  0.203659

# Series and dataframe drop

In [45]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [46]:
s1.drop('A') # 删掉了A

B    2
C    3
D    4
dtype: int64

In [47]:
df1

         c1        c2        c3        c4        c5
A  0.646866  0.995820  0.284356  0.718701  0.072615
B  0.743835  0.041040  0.360514  0.278694  0.203659
D  0.476513  0.750595  0.633764  0.336483  0.628976
E  0.398105  0.157137  0.969087  0.251197  0.189585
F  0.456268  0.237794  0.755713  0.993375  0.632530

In [48]:
df1.drop('c1', axis=1) # 1删除列

         c2        c3        c4        c5
A  0.995820  0.284356  0.718701  0.072615
B  0.041040  0.360514  0.278694  0.203659
D  0.750595  0.633764  0.336483  0.628976
E  0.157137  0.969087  0.251197  0.189585
F  0.237794  0.755713  0.993375  0.632530

In [50]:
df1.drop('A', axis=0)  # 0删除行

         c1        c2        c3        c4        c5
B  0.743835  0.041040  0.360514  0.278694  0.203659
D  0.476513  0.750595  0.633764  0.336483  0.628976
E  0.398105  0.157137  0.969087  0.251197  0.189585
F  0.456268  0.237794  0.755713  0.993375  0.632530