In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
s1 = Series(np.random.randn(6))

In [4]:
s1

0   -0.836588
1   -0.003273
2   -0.397263
3   -2.540657
4   -0.592697
5   -0.140236
dtype: float64

In [6]:
s1 = Series(np.random.randn(6), index=[['1','1','1','2','2','2'],['a','b','c','a','b','c']])
s1

1  a   -1.634958
   b   -0.280177
   c    0.776530
2  a   -0.646702
   b   -0.679689
   c    2.531536
dtype: float64

In [8]:
type(s1['1']) # 两级series

pandas.core.series.Series

In [9]:
s1['1']['a'] #返回一级

-1.6349580556345462

In [11]:
type(s1[:,'a'])

pandas.core.series.Series

In [12]:
s1[:,'a'] #返回二级

1   -1.634958
2   -0.646702
dtype: float64

In [13]:
df1 = s1.unstack() # 不摞在一起

In [14]:
df1

          a         b         c
1 -1.634958 -0.280177  0.776530
2 -0.646702 -0.679689  2.531536

多级index的series --> dataFrame

In [18]:
df2 = DataFrame([s1['1'],s1['2']])

In [19]:
df2

          a         b         c
0 -1.634958 -0.280177  0.776530
1 -0.646702 -0.679689  2.531536

In [20]:
s2 = df1.unstack()

In [21]:
s2

a  1   -1.634958
   2   -0.646702
b  1   -0.280177
   2   -0.679689
c  1    0.776530
   2    2.531536
dtype: float64

dataFrame  -->  多级index的series

In [28]:
s2 = df1.T.unstack() # 转置

In [29]:
s2

1  a   -1.634958
   b   -0.280177
   c    0.776530
2  a   -0.646702
   b   -0.679689
   c    2.531536
dtype: float64

多级index的DataFrame  index和column都可以多级

In [31]:
df = DataFrame(np.arange(16).reshape(4,4), index=[['a','a','b','b'],[1,2,1,2]], columns=[['BJ','BJ','SH','GZ'],[8,9,8,8]])

In [32]:
df

     BJ      SH  GZ
      8   9   8   8
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [35]:
df.stack()

       BJ    GZ    SH
a 1 8   0   3.0   2.0
    9   1   NaN   NaN
  2 8   4   7.0   6.0
    9   5   NaN   NaN
b 1 8   8  11.0  10.0
    9   9   NaN   NaN
  2 8  12  15.0  14.0
    9  13   NaN   NaN

DataFrame 可以转成多级series

In [36]:
df['BJ'].stack()

a  1  8     0
      9     1
   2  8     4
      9     5
b  1  8     8
      9     9
   2  8    12
      9    13
dtype: int32

In [38]:
type(df['BJ'])

pandas.core.frame.DataFrame

In [39]:
df['BJ'][8]

a  1     0
   2     4
b  1     8
   2    12
Name: 8, dtype: int32