In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser

In [3]:
link = 'http://pandas.pydata.org/pandas-docs/version/0.20/io.html'
webbrowser.open(link)

True

In [5]:
df1 = pd.read_clipboard()

In [6]:
df1

  Format Type Data Description          Reader        Writer
0        text              CSV        read_csv        to_csv
1        text             JSON       read_json       to_json
2        text             HTML       read_html       to_html
3        text  Local clipboard  read_clipboard  to_clipboard
4      binary         MS Excel      read_excel      to_excel
5      binary      HDF5 Format        read_hdf        to_hdf
6      binary   Feather Format    read_feather    to_feather
7      binary          Msgpack    read_msgpack    to_msgpack
8      binary            Stata      read_stata      to_stata
9      binary              SAS        read_sas

In [7]:
type(df1)

pandas.core.frame.DataFrame

In [8]:
df1.columns

Index(['Format Type', 'Data Description', 'Reader', 'Writer'], dtype='object')

In [ ]:
# df1.Ratings 没有这个方法了

In [12]:
df_new = DataFrame(df1,columns=['Data Description', 'Reader'])

In [13]:
df_new

  Data Description          Reader
0              CSV        read_csv
1             JSON       read_json
2             HTML       read_html
3  Local clipboard  read_clipboard
4         MS Excel      read_excel
5      HDF5 Format        read_hdf
6   Feather Format    read_feather
7          Msgpack    read_msgpack
8            Stata      read_stata
9              SAS        read_sas

In [14]:
df1['Data Description']

0                CSV
1               JSON
2               HTML
3    Local clipboard
4           MS Excel
5        HDF5 Format
6     Feather Format
7            Msgpack
8              Stata
9                SAS
Name: Data Description, dtype: object

In [15]:
df_new2 = DataFrame(df1,columns=['Data Description', 'Reader','hehe']) #没有hehe数据
df_new2

  Data Description          Reader  hehe
0              CSV        read_csv   NaN
1             JSON       read_json   NaN
2             HTML       read_html   NaN
3  Local clipboard  read_clipboard   NaN
4         MS Excel      read_excel   NaN
5      HDF5 Format        read_hdf   NaN
6   Feather Format    read_feather   NaN
7          Msgpack    read_msgpack   NaN
8            Stata      read_stata   NaN
9              SAS        read_sas   NaN

In [16]:
df_new2['hehe'] = np.arange(0,10)
df_new2

  Data Description          Reader  hehe
0              CSV        read_csv     0
1             JSON       read_json     1
2             HTML       read_html     2
3  Local clipboard  read_clipboard     3
4         MS Excel      read_excel     4
5      HDF5 Format        read_hdf     5
6   Feather Format    read_feather     6
7          Msgpack    read_msgpack     7
8            Stata      read_stata     8
9              SAS        read_sas     9

In [17]:
df_new2['hehe'] = pd.Series(np.arange(10,20))
df_new2

  Data Description          Reader  hehe
0              CSV        read_csv    10
1             JSON       read_json    11
2             HTML       read_html    12
3  Local clipboard  read_clipboard    13
4         MS Excel      read_excel    14
5      HDF5 Format        read_hdf    15
6   Feather Format    read_feather    16
7          Msgpack    read_msgpack    17
8            Stata      read_stata    18
9              SAS        read_sas    19

In [18]:
df_new2['hehe'] = pd.Series([100,200],index=[1,2])
df_new2

  Data Description          Reader   hehe
0              CSV        read_csv    NaN
1             JSON       read_json  100.0
2             HTML       read_html  200.0
3  Local clipboard  read_clipboard    NaN
4         MS Excel      read_excel    NaN
5      HDF5 Format        read_hdf    NaN
6   Feather Format    read_feather    NaN
7          Msgpack    read_msgpack    NaN
8            Stata      read_stata    NaN
9              SAS        read_sas    NaN

In [19]:
df1.to_clipboard()

In [20]:
df1

  Format Type Data Description          Reader        Writer
0        text              CSV        read_csv        to_csv
1        text             JSON       read_json       to_json
2        text             HTML       read_html       to_html
3        text  Local clipboard  read_clipboard  to_clipboard
4      binary         MS Excel      read_excel      to_excel
5      binary      HDF5 Format        read_hdf        to_hdf
6      binary   Feather Format    read_feather    to_feather
7      binary          Msgpack    read_msgpack    to_msgpack
8      binary            Stata      read_stata      to_stata
9      binary              SAS        read_sas

In [ ]:
	Format Type	Data Description	Reader	Writer
0	text	CSV	read_csv	to_csv
1	text	JSON	read_json	to_json
2	text	HTML	read_html	to_html
3	text	Local clipboard	read_clipboard	to_clipboard
4	binary	MS Excel	read_excel	to_excel
5	binary	HDF5 Format	read_hdf	to_hdf
6	binary	Feather Format	read_feather	to_feather
7	binary	Msgpack	read_msgpack	to_msgpack
8	binary	Stata	read_stata	to_stata
9	binary	SAS	read_sas	
10	binary	Python Pickle Format	read_pickle	to_pickle
11	SQL	SQL	read_sql	to_sql
12	SQL	Google Big Query	read_gbq	to_gbq   

#这是粘贴板的内容

In [21]:
df1.to_csv("df1.csv",index=False)  # dfl.csv 是文件名字（名字只能保存一次）  当前目录出现了这个文件  index=False,就不会有 默认加的0 1 2 3这一列

In [ ]:
!ls

In [ ]:
!more df1.csv        # 查看文件内容

In [ ]:
df2 = pd.read_csv('df1.csv')

In [ ]:
df2

In [ ]:
df1

In [ ]:
df1.to_json()
df1

In [ ]:
pd.read_json(df1.to_json())

In [ ]:
df1.to_html('df1.html')

In [ ]:
!ls

In [ ]:
df1.to_excel('df2.xlsx')

In [ ]:
!ls

In [ ]:
df1